nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    border: 1px black;
}
.navBtn{
    background-color: rgb(172, 108, 231);
    border: 1px hsl(282, 31%, 40%) solid;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 100px;
    color: hsl(0, 0%, 0%);
    padding: 7px;

}
#text{
    margin-top: 300px;
    font-size: 2em;
}
#indexBody{

    font-family: Verdana;
}
#indexH1{
    font-size: 10em;
    text-align: center;
}


.indexLinks{
    font-size: 3em;
}
/*
#mew{
    animation-name: squarce;
    animation-duration: 10;
    animation-iteration-count: infinite;
}


@keyframes squarce {
    0% {
        background-color: blue;
        left: 0;
        right: 0;
    }
    25% {
        background-color: rgb(126, 246, 66);
        left: 400px;
        right: 0;
    }
    50% {
        background-color: rgb(34, 153, 169);
        left: 0;
        right: 500px;
        border-radius: 50%;
    }
    75%{
        background-color: aqua;
        left: 500px;
        right: 500px;
    }
    100% {
        background-color: rgb(164, 58, 207);
        left: 0;
        right: 0;
    }
}
*/